.app_heading{
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
}
@media (min-width: 576px){
    .app_heading{
        font-size: 4rem;
    }
}
.card{
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    border: 0.5px solid #f1f1f1;
    padding: 0!important;
    margin: 1rem 0;
}
.card_link{
    text-decoration: none;
    padding: 0;
    padding: 0!important;
    margin: 0!important;
}
.card_heading{
    background-color: #B88900;
    
    color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.2rem 0.5rem;
    border-bottom: #9CAAD4 solid 0.3rem;
}
.topic{
    padding: 0 0.4rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.view{
    background-color: #0C2343;
    color: #fff;
    padding: 0.2rem 0.5rem;
    margin: 0;
    font-size: 1.3rem;
    border-radius: 0 0 0.5rem 0.5rem;

}